{
  "openapi": "3.1.0",
  "info": {
    "title": "Ollagraph API",
    "description": "**Ollagraph** is web infrastructure for AI agents — 195 endpoints across fetch, extract, audit, intelligence, AEO/SEO, and vertical actors, all behind one Bearer token and one MCP server.\n\nEvery endpoint authenticates the same way: `Authorization: Bearer osk_…`. Your API key is created at [app.ollagraph.com](https://app.ollagraph.com/) and is shown once at creation time.\n\nSuccessful calls cost one credit (some premium endpoints cost 3–5); server-side failures refund automatically. See the [capabilities page](https://ollagraph.com/capabilities) for the full catalog and [docs](https://ollagraph.com/docs) for the operational contract.\n\n## Response headers (every response)\n\n| Header | What it tells you | Standard |\n| --- | --- | --- |\n| `x-request-id` | Stable correlation ID; pass back to support, grep in your logs. | de-facto |\n| `traceparent` | Our server-side OTel trace + span ID, so you can correlate with your own trace. | W3C Trace Context |\n| `server-timing` | Wall-clock breakdown: at minimum `total;dur=<ms>`. Renders natively in Chrome DevTools. | W3C Server-Timing |\n| `x-credits-cost` / `x-credits-charged` / `x-credits-balance` | Sticker cost, what we actually deducted, what's left after this call. | — |\n| `x-tier-used` | Which fetch tier served the call (`direct`, `render`, `residential`). | — |\n| `x-cascade-path` | Full ordered list of tiers we attempted before one succeeded. | — |\n| `x-ratelimit-limit` / `RateLimit-Limit` (and `-remaining` / `-reset`) | Token-bucket state for your plan. Both legacy GitHub-style and the IETF draft spelling are emitted. | IETF draft-ietf-httpapi-ratelimit-headers |\n| `Cache-Control: no-store` | Auto-set on every authenticated response so corporate proxies and CDNs don't cache your data. | RFC 7234 |\n| `Deprecation` + `Sunset` + `Link` | Set when you're calling a route scheduled for removal. Empty today; will surface here when we ever deprecate. | RFC 8594 + draft-ietf-httpapi-deprecation |\n| `Idempotency-Replayed: true` | Returned when an `Idempotency-Key` matched a cached response. | Stripe-style |\n\nFree tier: 1,000 credits on signup, every endpoint, no credit card.\n\n_Note: `api.qcrawl.com` continues to serve the same backend during the rebrand transition. New integrations should use `api.ollagraph.com`._",
    "termsOfService": "https://ollagraph.com/legal/terms/",
    "contact": {
      "name": "Ollagraph support",
      "url": "https://ollagraph.com/contactus/",
      "email": "support@ollagraph.com"
    },
    "license": {
      "name": "Commercial — see Terms of Service",
      "url": "https://ollagraph.com/legal/terms/"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ollagraph.com",
      "description": "Production"
    },
    {
      "url": "https://api.qcrawl.com",
      "description": "Legacy alias — same backend; new integrations should use api.ollagraph.com"
    }
  ],
  "paths": {
    "/v1/scrape": {
      "post": {
        "summary": "Scrape Endpoint",
        "operationId": "scrape_endpoint_v1_scrape_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Scraping"
        ]
      }
    },
    "/v1/scrape/batch": {
      "post": {
        "summary": "Batch Scrape Endpoint",
        "operationId": "batch_scrape_endpoint_v1_scrape_batch_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Scraping"
        ]
      }
    },
    "/v1/scrape/llm-ready": {
      "post": {
        "summary": "Scrape Llm Ready Endpoint",
        "description": "Fetch a URL, extract the article body, chunk it for RAG ingest.\n\nReturns chunks sized for an embedding model's context window with\nconfigurable overlap. Each chunk carries byte offsets into the\nsource page so customers can attribute citations back to exact\npositions. The response shape is identical regardless of which fetch\npath was used; the `proxy_used` field carries a diagnostic label.",
        "operationId": "scrape_llm_ready_endpoint_v1_scrape_llm_ready_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LlmReadyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Scraping"
        ]
      }
    },
    "/v1/scrape/async": {
      "post": {
        "summary": "Scrape Async Endpoint",
        "operationId": "scrape_async_endpoint_v1_scrape_async_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Scraping"
        ]
      }
    },
    "/v1/scrape/batch/async": {
      "post": {
        "summary": "Batch Scrape Async Endpoint",
        "operationId": "batch_scrape_async_endpoint_v1_scrape_batch_async_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Scraping"
        ]
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "summary": "Get Job Status",
        "operationId": "get_job_status_v1_jobs__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Jobs"
        ]
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Get Me",
        "operationId": "get_me_v1_me_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/webhook-secret/rotate": {
      "post": {
        "summary": "Rotate My Webhook Secret",
        "description": "Generate a new webhook signing secret. The previous one becomes invalid\nimmediately - any signed callbacks already in-flight will verify against\nthe new secret, so callers should drain in-flight jobs before rotating.",
        "operationId": "rotate_my_webhook_secret_v1_me_webhook_secret_rotate_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/webhooks/test": {
      "post": {
        "summary": "Test My Webhook",
        "description": "Send a single signed test payload to `webhook_url` so the customer can\nverify their receiver before going live.\n\nUses the same signing scheme as production deliveries:\n  X-Ollagraph-Signature: t=<unix_ts>,v1=<hmac_sha256_hex>\nwhere the signed body is `<ts>.<exact_json_bytes>`. The customer recomputes\nthe HMAC with their webhook_secret (from `/v1/me`) and compares in\nconstant time. Reuses the same retry/timeout policy as the worker so the\nresult reflects what a real delivery would look like.",
        "operationId": "test_my_webhook_v1_me_webhooks_test_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/password": {
      "post": {
        "summary": "Change My Password",
        "description": "Change the signed-in user's password. Verifies the current password\nfirst. Existing API keys are unaffected — only dashboard login changes.",
        "operationId": "change_my_password_v1_me_password_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/jobs": {
      "get": {
        "summary": "Get My Jobs",
        "description": "Paginated async-job history for the dashboard Jobs view.",
        "operationId": "get_my_jobs_v1_me_jobs_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/credits": {
      "get": {
        "summary": "Get My Credits",
        "description": "Current credit balance + paginated credit ledger.",
        "operationId": "get_my_credits_v1_me_credits_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/usage": {
      "get": {
        "summary": "Get My Usage",
        "description": "Paginated request log for the dashboard Logs view. Filter by endpoint.\n\n`format=json` (default) returns the standard `{rows, limit, offset}` envelope.\n\n`format=csv` returns the same rows as a streaming `text/csv` response with\ncolumns: created_at, endpoint, url, status, time_ms, credits_charged,\ntier_used, request_id. The same `limit`, `offset`, and `endpoint` filters\napply. Closes the recurring \"compliance asked me to dump 30 days of API\ncalls\" ticket without forcing customers to hand-roll a paginated client.",
        "operationId": "get_my_usage_v1_me_usage_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "endpoint",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Endpoint"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "title": "Format"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/requests/{request_id}": {
      "get": {
        "summary": "Get My Request",
        "description": "Look up a specific request by its X-Request-ID.\n\nCustomers paste the ID they grep-found in their own observability stack\n(Datadog, Better Stack, Honeycomb, etc.) and we return the billing-side\nrecord: endpoint, URL, status, latency, credit cost, timestamp.\n\nReturns 404 if the request_id isn't found for this user. That can mean:\n- the ID is from a different account\n- the Redis stream hasn't drained yet (within ~1s of the call completing)\n- the request was an unauthenticated /health hit which we don't log",
        "operationId": "get_my_request_v1_me_requests__request_id__get",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Request Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/cost-estimate": {
      "post": {
        "summary": "Cost Estimate",
        "description": "Return what the next call to `endpoint` would cost this user.\n\nNo execution, no charge, no rate-limit consumption. Reads the same\n`ENDPOINT_CREDIT_COST` map the actual billing path uses, applies the\noptional residential-proxy surcharge, and honours BYPASS_PLANS\n(internal / superadmin → 0). Customers price-check before they commit.",
        "operationId": "cost_estimate_v1_me_cost_estimate_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/usage/summary": {
      "get": {
        "summary": "Get My Usage Summary",
        "description": "Pre-aggregated chart data for the dashboard Overview.",
        "operationId": "get_my_usage_summary_v1_me_usage_summary_get",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "title": "Days"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/forwarders": {
      "get": {
        "summary": "Get My Forwarders",
        "description": "List the customer's configured OTel forwarders. Auth values are\nreturned masked (last 4 chars + asterisks); plaintext is never exposed.",
        "operationId": "get_my_forwarders_v1_me_forwarders_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "post": {
        "summary": "Create My Forwarder",
        "description": "Add a new OTel destination. Auth value is encrypted at rest.\n\nKicks an immediate background refresh of the FanoutSpanProcessor's\nforwarder cache so spans start fanning out to the new destination\nwithin a few milliseconds rather than waiting for the next 30 s\nperiodic tick.",
        "operationId": "create_my_forwarder_v1_me_forwarders_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForwarderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/forwarders/{forwarder_id}": {
      "delete": {
        "summary": "Delete My Forwarder",
        "description": "Remove a forwarder.\n\nKicks an immediate background refresh so the deleted destination\nstops receiving spans within a few milliseconds — no privacy concern\nof continuing to forward to an endpoint the customer just removed.\nSpans already buffered inside the soon-to-be-shut-down\nBatchSpanProcessor still flush; spans created after the refresh\ncompletes do not.",
        "operationId": "delete_my_forwarder_v1_me_forwarders__forwarder_id__delete",
        "parameters": [
          {
            "name": "forwarder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Forwarder Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/me/forwarders/{forwarder_id}/test": {
      "post": {
        "summary": "Test My Forwarder",
        "description": "Emit a single test span to the configured destination. Returns\nwhether the endpoint accepted it. Updates last_test_at/status/detail\ncolumns so the dashboard can show the result inline.",
        "operationId": "test_my_forwarder_v1_me_forwarders__forwarder_id__test_post",
        "parameters": [
          {
            "name": "forwarder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Forwarder Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/keys": {
      "get": {
        "summary": "List My Keys",
        "description": "List the user's API keys (prefixes only - raw keys are never recoverable).",
        "operationId": "list_my_keys_v1_keys_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "post": {
        "summary": "Create My Key",
        "description": "Mint a new API key. The raw key is returned ONCE; we only store the hash.\n\nIf org_id is supplied (team-org keys), caller must already be a\nmember of that org — we 403 otherwise. The new key inherits its\nbilling context from the org.",
        "operationId": "create_my_key_v1_keys_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/keys/{key_id}": {
      "patch": {
        "summary": "Update My Key",
        "description": "Update an existing key's label, project_tag, or daily_cap_credits.\nproject_tag=\"\" clears the tag; daily_cap_credits=0 removes the cap.\nOnly the owning user can update.",
        "operationId": "update_my_key_v1_keys__key_id__patch",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Key Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "delete": {
        "summary": "Delete My Key",
        "description": "Revoke an API key. Existing in-flight requests using it still complete;\nnew requests with the revoked key get 401.",
        "operationId": "delete_my_key_v1_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Key Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/keys/{key_id}/rotate": {
      "post": {
        "summary": "Rotate My Key",
        "description": "Rotate an API key: mint a replacement that inherits the old key's label,\nproject tag, org, and daily cap, then revoke the old key. The new raw key is\nreturned ONCE. In-flight requests on the old key complete; new requests with\nthe old key get 401. This is the self-service path for a leaked or lost key\n(previously the only option was delete + recreate).",
        "operationId": "rotate_my_key_v1_keys__key_id__rotate_post",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Key Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v1/extract/clean": {
      "post": {
        "summary": "Extract Clean Endpoint",
        "operationId": "extract_clean_endpoint_v1_extract_clean_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Extraction"
        ]
      }
    },
    "/v1/extract/structured": {
      "post": {
        "summary": "Extract Structured Endpoint",
        "operationId": "extract_structured_endpoint_v1_extract_structured_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Extraction"
        ]
      }
    },
    "/v1/extract/contacts": {
      "post": {
        "summary": "Extract Contacts Endpoint",
        "description": "Pull emails, phone numbers, and social-profile URLs from a text/HTML\nblob the customer supplies. No fetch, no network — pure regex extraction.",
        "operationId": "extract_contacts_endpoint_v1_extract_contacts_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Extraction"
        ]
      }
    },
    "/v1/extract/tables": {
      "post": {
        "summary": "Extract Tables Endpoint",
        "description": "Extract every <table> from an HTML blob as structured JSON.\nHeaders detected from <thead> or all-<th> first rows. Colspan/rowspan\nexpanded. No fetch — caller supplies the HTML.",
        "operationId": "extract_tables_endpoint_v1_extract_tables_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractTablesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Extraction"
        ]
      }
    },
    "/v1/aeo/freshness-signal": {
      "post": {
        "summary": "Aeo Freshness Signal Endpoint",
        "description": "Audit a page's freshness signals from schema.org dateModified,\nOpenGraph article:modified_time, HTTP Last-Modified, visible 'Updated'\ntext, and copyright year. Returns a 0-100 freshness score + the\nmost-recent dated signal + any inconsistencies between them.",
        "operationId": "aeo_freshness_signal_endpoint_v1_aeo_freshness_signal_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreshnessSignalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/snippet-format-detect": {
      "post": {
        "summary": "Aeo Snippet Format Detect Endpoint",
        "description": "Classify a page's content into the four featured-snippet shapes\nGoogle pulls from: paragraph, list, table, definition. Returns\ncounts + example snippets for each kind + a best-fit prediction.",
        "operationId": "aeo_snippet_format_detect_endpoint_v1_aeo_snippet_format_detect_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnippetFormatDetectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/heading-hierarchy-score": {
      "post": {
        "summary": "Aeo Heading Hierarchy Endpoint",
        "description": "Audit H1-H6 hierarchy on a page. Surfaces missing H1, multiple H1s,\nhierarchy skips (H2 -> H4 without H3 between), and the count of\nquestion-style headings — important for AI Overview eligibility.",
        "operationId": "aeo_heading_hierarchy_endpoint_v1_aeo_heading_hierarchy_score_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HeadingHierarchyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/seo/redirect-chain-map": {
      "post": {
        "summary": "Seo Redirect Chain Endpoint",
        "description": "Trace the full redirect chain from a URL to its final destination.\nReturns the hops + SEO-flavored scoring: too-long chain, HTTPS->HTTP\ndowngrade, 302/307 used where 301 would be appropriate.",
        "operationId": "seo_redirect_chain_endpoint_v1_seo_redirect_chain_map_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectChainMapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/seo/broken-links-audit": {
      "post": {
        "summary": "Seo Broken Links Endpoint",
        "description": "Scan a single page for broken outbound + internal links. HEAD\nprobe with GET fallback, parallel, configurable cap. Returns\nfull status code + final URL per link, with broken ones flagged.",
        "operationId": "seo_broken_links_endpoint_v1_seo_broken_links_audit_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrokenLinksAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/seo/anchor-text-audit": {
      "post": {
        "summary": "Seo Anchor Text Audit Endpoint",
        "description": "Audit every <a href> on the page. Flags generic anchors\n('click here', 'read more') and over-optimized repeats (same exact-\nmatch anchor used 3+ times pointing at the same URL).",
        "operationId": "seo_anchor_text_audit_endpoint_v1_seo_anchor_text_audit_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnchorTextAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/seo/schema-validate": {
      "post": {
        "summary": "Seo Schema Validate Endpoint",
        "description": "Validate JSON-LD blocks against Google's required-field lists for\n20+ rich-result types (Product, Recipe, Article, Event, FAQPage,\nHowTo, JobPosting, LocalBusiness, Review, ...). Returns the list of\ntypes the page is rich-result-eligible for.",
        "operationId": "seo_schema_validate_endpoint_v1_seo_schema_validate_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/seo/mixed-content": {
      "post": {
        "summary": "Seo Mixed Content Endpoint",
        "description": "Find HTTP subresources loaded by an HTTPS page (mixed content).\nReports every <img>, <script>, <link>, <iframe>, <audio>, <video>,\n<source>, <embed>, <object> that uses http:// instead of https://.",
        "operationId": "seo_mixed_content_endpoint_v1_seo_mixed_content_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MixedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/intel/cert-transparency-history": {
      "post": {
        "summary": "Intel Cert Transparency Endpoint",
        "description": "Query Certificate Transparency logs via crt.sh for every cert ever\nissued for the domain or any subdomain. Free, no auth needed.\nReturns deduplicated certs sorted newest-first.",
        "operationId": "intel_cert_transparency_endpoint_v1_intel_cert_transparency_history_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertTransparencyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/seo/keyword-extract": {
      "post": {
        "summary": "Seo Keyword Extract Endpoint",
        "description": "Extract top keywords + multi-word phrases from text or a URL.\nUses lightweight TextRank-style co-occurrence ranking; no LLM\ncalls, no paid keyword feeds. Bring your own text or let us\nfetch+clean the URL for you.",
        "operationId": "seo_keyword_extract_endpoint_v1_seo_keyword_extract_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordExtractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/intel/subdomain-enumerate": {
      "post": {
        "summary": "Intel Subdomain Enumerate Endpoint",
        "description": "Enumerate subdomains for a domain via Certificate Transparency.\n\nPublic CT logs (crt.sh) — no DNS brute-forcing, no paid feeds. Returns the\ndeduplicated SAN list. Stale entries are possible since we don't resolve;\npair with a resolver if you need live-only hostnames.",
        "operationId": "intel_subdomain_enumerate_endpoint_v1_intel_subdomain_enumerate_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdomainEnumerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/enrich/company": {
      "post": {
        "summary": "Enrich Company Endpoint",
        "description": "Lite company profile from a single page. Pulls Organization JSON-LD,\nog:* tags, social anchors, contact patterns. Best when pointed at a\nhomepage or /about — no paid company-data feeds involved.",
        "operationId": "enrich_company_endpoint_v1_enrich_company_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Other"
        ]
      }
    },
    "/v1/convert/ocr": {
      "post": {
        "summary": "Convert Ocr Endpoint",
        "description": "OCR an image (PNG/JPEG/WebP/BMP/TIFF) to text. Proxies to a dedicated\nOCR backend — CPU-only, no GPU. Optionally returns per-region\nbounding boxes and confidence scores.",
        "operationId": "convert_ocr_endpoint_v1_convert_ocr_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertOcrRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Conversion"
        ]
      }
    },
    "/v1/aeo/ai-bot-allowlist": {
      "post": {
        "summary": "Aeo Ai Bot Allowlist Endpoint",
        "description": "For each of 14 named AI crawlers (GPTBot, ClaudeBot, PerplexityBot,\nGoogle-Extended, Applebot-Extended, CCBot, etc.), report whether the\nsite's robots.txt allows or blocks it.",
        "operationId": "aeo_ai_bot_allowlist_endpoint_v1_aeo_ai_bot_allowlist_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoAiBotAllowlistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/llms-txt-audit": {
      "post": {
        "summary": "Aeo Llms Txt Audit Endpoint",
        "description": "Fetch /llms.txt at the given domain and audit it against the emerging\nAEO-readiness convention. Validates structure, scores section coverage,\nchecks for link rot (up to 50 links).",
        "operationId": "aeo_llms_txt_audit_endpoint_v1_aeo_llms_txt_audit_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoLlmsTxtAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/seo/meta-audit": {
      "post": {
        "summary": "Seo Meta Audit Endpoint",
        "description": "Audit a page's SEO meta fields and grade them 0–100 / A–F.",
        "operationId": "seo_meta_audit_endpoint_v1_seo_meta_audit_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeoMetaAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/seo/readability": {
      "post": {
        "summary": "Seo Readability Endpoint",
        "description": "Score readability via six standard formulas (Flesch, Flesch-Kincaid,\nGunning-Fog, SMOG, ARI, Coleman-Liau) plus reading time.",
        "operationId": "seo_readability_endpoint_v1_seo_readability_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeoReadabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/seo/snippet-candidates": {
      "post": {
        "summary": "Seo Snippet Candidates Endpoint",
        "description": "Extract candidate featured-snippet paragraphs, lists, and tables\nfrom an HTML blob OR from a URL we fetch on your behalf. When `url` is\nsupplied with `use_residential_proxy=true`, fetches with JS rendering —\nfinds snippets on div-soup docs sites.",
        "operationId": "seo_snippet_candidates_endpoint_v1_seo_snippet_candidates_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeoSnippetCandidatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "SEO"
        ]
      }
    },
    "/v1/aeo/schema-coverage": {
      "post": {
        "summary": "Aeo Schema Coverage Endpoint",
        "description": "Parse every JSON-LD block + Microdata + OpenGraph on a page; score\ncoverage against the 12 AEO-critical schema.org types. Opt-in residential\n+ JS-rendering captures schemas hydrated client-side on Next.js sites.",
        "operationId": "aeo_schema_coverage_endpoint_v1_aeo_schema_coverage_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoSchemaCoverageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/citation-readiness": {
      "post": {
        "summary": "Aeo Citation Readiness Endpoint",
        "description": "Score a page against the post-ChatGPT EEAT signals: numerical specifics,\nnamed entities, authoritative outbound links, author byline, last-updated\ndate, content length. Mechanical scoring — no LLM call. Opt-in residential\nproxy is available for sites with strict access controls.",
        "operationId": "aeo_citation_readiness_endpoint_v1_aeo_citation_readiness_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoCitationReadinessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/llm-fetch-simulator": {
      "post": {
        "summary": "Aeo Llm Fetch Simulator Endpoint",
        "description": "Fetch a URL as each of 11 named AI crawlers (plus a browser baseline).\nReport what each one actually received: status, content length, visible\ntext preview, plus cloaking + JS-only detection.",
        "operationId": "aeo_llm_fetch_simulator_endpoint_v1_aeo_llm_fetch_simulator_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoLlmFetchSimulatorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/page-audit": {
      "post": {
        "summary": "Aeo Page Audit Endpoint",
        "description": "Full AEO audit — runs 9 component probes in parallel and returns one\nheadline 0–100 score, five category breakdowns, top issues, and ranked\nrecommendations. Bills 3 credits (premium orchestration).",
        "operationId": "aeo_page_audit_endpoint_v1_aeo_page_audit_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoPageAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/aeo/competitor-diff": {
      "post": {
        "summary": "Aeo Competitor Diff Endpoint",
        "description": "Run page-audit on 2-5 URLs in parallel; return head-to-head rankings\nplus where the first URL wins and loses against the rest. Bills 3 credits\nregardless of URL count.",
        "operationId": "aeo_competitor_diff_endpoint_v1_aeo_competitor_diff_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AeoCompetitorDiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "AEO"
        ]
      }
    },
    "/v1/dns/lookup": {
      "post": {
        "summary": "Dns Lookup Endpoint",
        "operationId": "dns_lookup_endpoint_v1_dns_lookup_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/dns/intelligence": {
      "post": {
        "summary": "Dns Intel Endpoint",
        "operationId": "dns_intel_endpoint_v1_dns_intelligence_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsIntelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/scrape/smart": {
      "post": {
        "summary": "Smart Scrape Endpoint",
        "operationId": "smart_scrape_endpoint_v1_scrape_smart_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Scraping"
        ]
      }
    },
    "/v1/verify/email": {
      "post": {
        "summary": "Email Verify Endpoint",
        "operationId": "email_verify_endpoint_v1_verify_email_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/captcha/solve": {
      "post": {
        "summary": "Captcha Solve Endpoint",
        "operationId": "captcha_solve_endpoint_v1_captcha_solve_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptchaSolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Captcha"
        ]
      }
    },
    "/v1/captcha/auto": {
      "post": {
        "summary": "Captcha Auto Endpoint",
        "operationId": "captcha_auto_endpoint_v1_captcha_auto_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptchaAutoSolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Captcha"
        ]
      }
    },
    "/v1/intel/ssl": {
      "post": {
        "summary": "Intel Ssl Endpoint",
        "operationId": "intel_ssl_endpoint_v1_intel_ssl_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/whois": {
      "post": {
        "summary": "Intel Whois Endpoint",
        "operationId": "intel_whois_endpoint_v1_intel_whois_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/page": {
      "post": {
        "summary": "Intel Page Endpoint",
        "operationId": "intel_page_endpoint_v1_intel_page_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/sitemap": {
      "post": {
        "summary": "Intel Sitemap Endpoint",
        "operationId": "intel_sitemap_endpoint_v1_intel_sitemap_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/robots": {
      "post": {
        "summary": "Intel Robots Endpoint",
        "operationId": "intel_robots_endpoint_v1_intel_robots_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelRobotsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/geoip": {
      "post": {
        "summary": "Intel Geoip Endpoint",
        "description": "IP geolocation — country, city, lat/lon, timezone for any public IP.\nBacked by the DB-IP Lite database (CC-BY, db-ip.com). No SSRF guard\nneeded: the IP is only a key into a local DB read, never fetched.",
        "operationId": "intel_geoip_endpoint_v1_intel_geoip_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoIpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/asn": {
      "post": {
        "summary": "Intel Asn Endpoint",
        "description": "ASN → operator name + every routed CIDR prefix.\n\nReuses the same iptoasn.com data the geoip endpoint indexes. Read-only,\nno network. Useful for compiling per-network IP allow/deny lists, mapping\ncustomer infrastructure, or auditing ASN ownership claims.",
        "operationId": "intel_asn_endpoint_v1_intel_asn_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/geoip/bulk": {
      "post": {
        "summary": "Intel Geoip Bulk Endpoint",
        "description": "Bulk IP geolocation — up to 100 IPs per call.\n\nBilled N credits per N IPs (handled via check_limits_batch). Wraps the\nsame `geoip.lookup()` used by /v1/intel/geoip — each IP gets the full\nenrichment (country/region/city/lat-lon/timezone/ASN/ISP/postal).",
        "operationId": "intel_geoip_bulk_endpoint_v1_intel_geoip_bulk_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoIpBulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/headers": {
      "post": {
        "summary": "Intel Headers Endpoint",
        "description": "Fetch a URL and return all response headers plus a security-header grade.",
        "operationId": "intel_headers_endpoint_v1_intel_headers_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelHeadersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Intelligence"
        ]
      }
    },
    "/v1/intel/redirects": {
      "post": {
        "summary": "Intel Redirects Endpoint",
        "description": "Trace a URL's full redirect chain, hop by hop.",
[...]
